*{
    padding: 0px;
    margin: 0px;
    font-family: century;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/portada.jpg);
/* vh es ocupar el 10 de la altura visible de la pantalla*/
    height: 100vh; 
/* escala de la imagen al tamaño posble sin estirarla, esto hace las proporciones de la imagen difieren de las del elemento */
    background-size: cover;
    background-position: cover;
    min-height: 100px;
} 

ul.portada{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
ul li.portada{
    display: inline-block;
}
ul li.portada a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    border: solid transparent 1px;
    transition: 0.5 ease;
}
ul li.portada a:hover{
    background-color: aliceblue;
    color: black;
}
ul li.inicio a{
    background-color: lavender;
    color: black;
}

.registro{
    text-decoration: none;
    color: aliceblue;
    border: solid 2px rgb(7, 3, 243);

    
}
.carousel.inner {
    width: 30px;
    height: 30px;
}
.letra{
    color: aliceblue;
}
.todo1{
    background-color: aqua;
}
.todo2{
    background-color: steelblue;
}
.todo3{
    background-color: greenyellow;
}
.inicioS {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    background-color: aliceblue;
}
.inicioP  { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    background-color: aliceblue;
}
.cambio{
    color: aliceblue;
}

