<div class="container">
    <h2>Sobre Nosotros</h2>
  
    <div class="member">
      <h3>Ignacio Cabrera</h3>
      <p>
        Fundador de Vitrinet, ha trabajado incansablemente para llevar la plataforma a las pymes de Chile y facilitar su crecimiento en el mercado en línea.
        Ignacio es un líder inspirador que valora la innovación y la colaboración en su equipo.
      </p>
    </div>
  
    <div class="member">
      <h3>Alexander Guillaume</h3>
      <p>
        Fundador de Vitrinet, ha sido fundamental en la creación de herramientas de gestión de pedidos y pagos para ayudar a las pymes a manejar su negocio en línea de manera eficiente.
        Alexander es un visionario que siempre busca nuevas oportunidades para mejorar y expandir la plataforma.
      </p>
    </div>
  </div>
  
