*{
    padding: 0px;
    margin: 0px;
    font-family: century;
    box-sizing: border-box;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/portada.jpg);
/* vh es ocupar el 10 de la altura visible de la pantalla*/
   height: 100vh; 
/* escala de la imagen al tamaño posble sin estirarla, esto hace las proporciones de la imagen difieren de las del elemento */
   background-size: cover;
    background-position: cover;
    min-height: 100px;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
} 
ul.portada{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li.portada{
    display: inline-block;
}

.logo {
    color: #fff;
  }
  
.logo h1 {
    font-size: 28px;
}
  
nav ul.portada {
    list-style-type: none;
    display: flex;
  }
  
nav ul.portada li {
    display: inline-block;
  }
  
nav ul.portada li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 20px;
    line-height: 80px;
    text-decoration: none;
    font-size: 18px;
}
  
nav ul.portada li a:hover {
    background-color: #444;
}
  
  nav ul.portada li.inicio a {
    background-color: #4CAF50;
}

  nav ul.portada li.inicio a:hover {
    background-color: #45a049;
}
nav ul.portada h2 a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    line-height: 80px;
}
li .sobre{
    list-style-type: none;
    display: inline-block;
}
  
a {
    text-decoration: none;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
}
  
  /* Agrega un pseudo-elemento para la animación */
a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
}
  
  /* Cambia el ancho del pseudo-elemento al pasar el ratón */
a:hover::before {
    width: 100%;
}



  