
.bodyProf{
    
    margin: 0;
    padding: 0;
}

.profileTop{
    
    margin-top: 30px;
    background-color: gainsboro;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImg {
    
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
       
}

#photo{
    width: 130px;
    height: 130px;
    
}

#file{
    display: none;
}

#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    transform: translate(-90%);
    margin-top: 30px;
    background-color: rgb(173, 172, 172, 0.881);
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}



ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#configPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}