.Registrousuario{
    background-color: slategray;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.RegistroUsu {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

ul.registro {
    list-style: none;
    padding: 0;
}

ul.registro li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-size: 16px;
}

input {
    flex-grow: 1;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Retroceder {
    position: absolute;
    top: 10px;
    left: 10px;
}

.Retroceder button {
    background-color: #f8d7da;
    color: #dc3545;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
