@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
    background-color: cadetblue;
    height: calc(100vh - 160px);
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}